.page-header {
    position: fixed;
    
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 auto;
}
// .logo__web {
//     background: url('./images/dimalyLOGO.png');
// }