.hero-section {
    padding: 100px 0;
    text-align: center;
    z-index: 2;
    // background-image: url('../../images/bg/bgplan3.png');
    background: url('./images/bgplan3.png') center no-repeat;
    background-color: rgba($color: #602588, $alpha: 1.0) ;
    background-size: cover;
}