
.layout-container {
  width: 95%;
  margin: 0 auto;
}
.grid {
  display: flex;
}

.grid-col {
  flex: 1;
  padding: 0 .1em;
}

.grid-col--2, .grid-col--3 {
  display: none;
}

.content {
  position: absolute;
  background: rgba(0,0,0,.8);
  color: white;
  margin-top: 1em;
  p {
      margin: .2em .5em;
      font-size: 1em;
  }
}

@media (min-width: 768px) {
  .layout-container { 
      width: 90%;
  }
  // h1 {
  //     margin: 3em 0;
  // }
  .grid-col--2 { display: block; }
  .grid-col {
      padding: 0 .5em;
  }
  img {
      margin-bottom: .8em;
  }
  .content {
      opacity: 0;
      transform: translateX(-.5em);
      transition: all 2s;
      will-change: opacity, transform;
  }
  .grid-item:hover {
      cursor: pointer;

      .content {
          opacity: 1;
          transform: translateX(0);
      }
  }
}

@media (min-width: 1080px) {
  .grid-col--3 { display: block; }
  .layout-containerr {
      width: 80%;
  }
  h1 {
      margin: 5em 0;
  }
}

.material-icons {
  color: $primary-white-color;
  font-size: 18px;
  margin-right: 8px;
  &-two-tone {
      color: $accent-color;
  }

  &:hover,
  &:focus {
      color: $accent-color;
  }

}
// =======================
// body {
//   font-family: sans-serif;
//   line-height: 1.4;
//   font-size: 18px;
//   padding: 20px;
//   max-width: 640px;
//   margin: 0 auto;
// }

// .grid {
//   max-width: 1200px;
// }

// /* reveal grid after images loaded */
// .grid.are-images-unloaded {
//   opacity: 0;
// }

// .grid__item,
// .grid__col-sizer {
//   width: 32%;
// }

// .grid__gutter-sizer { width: 2%; }

// /* hide by default */
// .grid.are-images-unloaded .image-grid__item {
//   opacity: 0;
// }

// .grid__item {
//   margin-bottom: 20px;
//   float: left;
// }

// .grid__item--height1 { height: 140px; background: #EA0; }
// .grid__item--height2 { height: 220px; background: #C25; }
// .grid__item--height3 { height: 300px; background: #19F; }

// .grid__item--width2 { width: 66%; }

// .grid__item img {
//   display: block;
//   max-width: 100%;
// }

// .page-load-status {
//   display: none; /* hidden by default */
//   padding-top: 20px;
//   border-top: 1px solid #DDD;
//   text-align: center;
//   color: #777;
// }