.container {
  @media screen and(max-width: $small) {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
  }
  width: 320px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  @media screen and(min-width: $medium) {
    width: 768px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and(min-width: $large) {
    width: 1024px;
  }
  @media screen and(min-width: $full) {
    width: 1400px;
  }
}