.section-padding {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
// .main-section {
//   padding-top: 20px;
//   padding-bottom: 40px;
//   @media screen and (min-width: $medium) {
//     padding-top: 60px;
//     padding-bottom: 50px;
//   }
//   @media screen and (min-width: $large) {
//     padding-bottom: 46px;
//   }
//   @media screen and (min-width: $full) {
//     padding: 50px 0;
//   }
// }

// @media (max-width:480px) {
//   h1 { font-size: 3em; }
//   h2 { font-size: 1.8em; }
//   h3 { font-size: 1.5em; }
//   td:first-child { white-space: normal; }
// }